.hijo2{
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 50% 25% 25% ;
    gap: 1rem;
;
}

.cuadro{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    background-color: rgb(166, 133, 172);
}

.cuadro1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(166, 133, 172);

  
}
.cuadro2{
    background-color: rgb(166, 133, 172);    
}


.cuadro3{
    background-color: rgb(166, 133, 172);;
}

.cuadro4{
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(166, 133, 172);;

}
